* {
  box-sizing: border-box;
}
body {
  background-color: #222;
}
h1 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.8em;
  color: #eee;
  padding-top: 15px;
  padding-bottom: 12vh;
}
.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 20vh;
}
.quote {
  font-family: 'Quattrocento', serif;
  font-size: 2.3em;
  color: #ddd;
}
.author-section {
  display: flex;
  justify-content: flex-end;
  min-height: 15vh;
}
.author {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.8em;
  color: #bbb;
  padding: 15px 15vw 15px 5vw;
/*  padding: 15px 0;*/
  min-height: 15vh;
/*  flex: 2;*/
}
.get-another, .twitter-share-section {
  min-height: 15vh;
  opacity: 0;
}
.get-another-section {
  opacity: 0;
}
.btn {
/*  background: black;*/
  font-size: 1.0em;
  color: #ddf;
  background-image: linear-gradient(0deg, #3b65a0, #427bca);
  transition: all .1s;
}
.btn:hover {
/*  font-size: 1.4em;*/
  color: #eef;
  background-image: linear-gradient(0deg, #324580, #2a62b5);
  transition: all .3s;
}
.btn:focus, .get-another:focus {
/*  font-size: 1.4em;*/
  color: #ddf;
  background-image: linear-gradient(0deg, #2b4580, #225baa);
  transition: all .3s;
}
.btn-twitter {
  font-size: 2.0em;
}
.twitter-share-section p {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #d0d0dd;
  font-size: 1.6em;
  padding-top: 15px;
}

/* Animations */
.quote {
/*  display: none;*/
  opacity: 0;
}
.author {
/*  display: none;*/
  opacity: 0;
}